body {
    background-color: lightgreen;
}
header {
	text-align:center;
	font-family: 'Permanent Marker', cursive;
}
footer {
	text-align:center;
}
table {
	background-color: #99ccff;
	font-family: 'Permanent Marker', cursive;
}
td {
	text-align: center;
}
th {
	font-weight: 700;
	font-size: x-large;
}
h1 {
	font-size: 4em;
	color: white;
		}
#bev {
	text-align: left;
}
#bevhead {
	text-align: center;
	text-decoration: underline;
}
a:link {
	font-weight: normal;
}
a:visited {
	font-weight: normal;
	color: gray;
}
a:hover {
	font-weight: bold;
}
a:active {
	font-weight: normal;
	text-decoration: none;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}