h2, th {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 20px;
	font-size: 1.3em;
}
tbody {
	font-style: italic;
	color: black;
	font-size: 1.2em;
}
h1, h3 { 
	font-family: 'Roboto', sans-serif;
}
a {
	font-size: 1.3em;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	background-color: hotpink;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}